.table-responsive.overlay-wrapper(ng-controller="ClientSubscriptionsCtrl as sub") 
  table.table.text-center
    thead
      tr
        th Service
        th Plan
        th Status
        th State 
        th Created / Canceled        
        th Agreement
        th
        th
        
    tbody     
      tr(ng-repeat="subscription in sub.subscriptions | pagination: sub.startIndex: sub.lastIndex track by $index")
        td 
          b {{ subscription.service_key }}
        td
          a(ng-click="sub.getPlanJson('P-54D83461T16935917BKJLDGQ')") {{ subscription.plan_key }}
        td 
          span.label.label-success(ng-if="subscription.status == 'ACTIVATED'") Activated
          span.label.label-info(ng-if="subscription.status == 'EXECUTED'") Executed
          span.label.label-warning(ng-if="subscription.status == 'SUSPENDED'") Suspend
          span.label.label-default(ng-if="subscription.status == 'CANCELED'") Canceled
          span.label.label-default(ng-if="subscription.status == 'CREATED'") Created          
        td 
          span.label.label-success(ng-if="subscription.active") Active
        td           
          | {{ subscription.create_date }} 
          br           
          | {{ subscription.cancel_date }}       
        td         
          a(ng-click="sub.getAgreementJson(subscription.pp_agreement_id)") {{ subscription.pp_agreement_id }}
        td
          .btn-group.btn-group-xs  
            button.btn.btn-warning(ng-click="sub.suspendSubscription(subscription.pp_agreement_id)" ng-if="subscription.status == 'ACTIVATED'") 
              b Suspend        
            button.btn.btn-info(ng-click="sub.reactivateSubscription(subscription.pp_agreement_id)" ng-if="subscription.status == 'SUSPENDED'") 
              b Reactivate
            button.btn.btn-default(ng-click="sub.cancelSubscription(subscription.pp_agreement_id)" ng-if="subscription.status != 'CANCELED' && subscription.status != 'CREATED'") 
              b Cancel    
          
          
  uib-pagination.no-margin.pagination-sm(max-size="sub.maxSize" total-items="sub.totalItems" ng-model="sub.currentPage" ng-change="sub.pageChanged()" items-per-page="sub.pageLimit" rotate="false")                          
  .overlay(ng-show="sub.overlay")
    i.fa.fa-refresh.fa-spin
