.content-wrapper(content-height)
  // Content Header (Page header)
  section.content-header
    h1
      | Payments
      // small Optional description        
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Level            
      li.active Here
  // Main content
  section.content
    .row
      .col-xs-3
        .box.box-primary
          .box-header.with-border
            h4.box-title Filter          
          .box-body
            .form-group
              label Service
              select.form-control(ng-model="pmt.service" ng-change="pmt.search()")
                option(value="all") All
                option(value="History") History
                option(value="Weather") Weather
                
            .form-group
              label Plan
              select.form-control(ng-model="pmt.plan" ng-change="pmt.search()")
                option(value="all") All
                option(ng-repeat="plan in pmt.plans" value="{{ plan }}") {{ plan }}
                
      .col-xs-9
        .box.box-primary
          .box-header
            h3.box-title Payments
            
          .box-body.no-padding
            table.table
              thead
                tr
                  th User
                  th Service name
                  th Plan                    
                  th Date
                  th Amount
              tbody                     
                tr(ng-repeat="payment in pmt.payments | pagination: pmt.startIndex: pmt.lastIndex track by $index")
                  td 
                    a(ui-sref="main.client({ id: payment.user_id })") {{ payment.user_id }}
                  td {{ payment.service_name }}
                  td {{ payment.plan_desc }}                    
                  td {{ payment.date }}
                  td {{ payment.amount }}                  
                              
          .box-footer.clearfix
            uib-pagination.no-margin.pull-right.pagination-sm(max-size="pmt.maxSize" total-items="pmt.totalItems" ng-model="pmt.currentPage" ng-change="pmt.pageChanged()" items-per-page="pmt.pageLimit" rotate="false")
          .overlay(ng-show="pmt.overlay")
            i.fa.fa-refresh.fa-spin
    
                 
  
