.modal-header
  button.close(ng-click="ipn.close()")
    span(aria-hidden="true") &times;
  h3.modal-title IPN msg  
  
     
.modal-body
  table.table.no-margin    
    tr(ng-repeat="(key, value) in ipn.ipn_msg")
      td 
        b {{ key }} 
      td {{ value }}   
            
.modal-footer    
    button.btn.btn-primary(ng-click="ipn.close()") Close
