.box.box-primary
  .box-header.with-border
    h1.box-title Login
    //
      p
        | Accounts are reset on server restart from
        code server/config/seed.js
        | . Default account is
        code test@example.com
        | /
        code test
      p
        | Admin account is
        code admin@example.com
        | /
        code admin
  
  form.form(name='form', ng-submit='vm.login(form)', novalidate='')
    .box-body
      .form-group
        label Email
        input.form-control(type='email', name='email', ng-model='vm.user.email')
      .form-group
        label Password
        input.form-control(type='password', name='password', ng-model='vm.user.password')

      .form-group.has-error
        p.help-block(ng-show='form.email.$error.required && form.password.$error.required && vm.submitted')
          | Please enter your email and password.
        p.help-block {{ vm.errors.other }}

    .box-footer
      button.btn.btn-primary(type='submit')
        | Login
      = ' '
      //
        a.btn.btn-default(ui-sref='signup')
          | Register
