.aside.main-sidebar
  // sidebar: style can be found in sidebar.less
  section.sidebar
    // Sidebar user panel (optional)
    //
      .user-panel
        .pull-left.image
          img.img-circle(src='assets/images/user2-160x160.jpg', alt='User Image')          
        .pull-left.info
          p Admin
        // Status
        //
          a(href='#')
            i.fa.fa-circle.text-success
            |  Online
    // search form (Optional)
    //
      form.sidebar-form(action='#', method='get')
        .input-group
          input.form-control(type='text', name='q', placeholder='Search...')            
          span.input-group-btn
            button#search-btn.btn.btn-flat(type='submit', name='search')
              i.fa.fa-search
    // /.search form
    // Sidebar Menu
    ul.sidebar-menu
      li.header CLIENTS
      // Optionally, you can add icons to the links
      li(ui-sref-active="active")
        a(href='#' ui-sref='main.clients')
          i.fa.fa-users             
          span Users
      li(ui-sref-active="active")
        a(href='#' ui-sref='main.notification')
          i.fa.fa-bell             
          span Notifications
      li(ui-sref-active="active")
        a(href='#' ui-sref='main.payment')
          i.fa.fa-money          
          span Payments 
      li(ui-sref-active="active")
        a(href='#' ui-sref='main.subscription')
          i.fa.fa-pencil-square-o        
          span Subscriptions
      li(ui-sref-active="active")
        a(href='#' ui-sref='main.log')
          i.fa.fa-files-o     
          span Logs   
      li.header PAYPAL
      li(ui-sref-active="active")
        a(href='#' ui-sref='main.plan')
          i.fa.fa-clipboard  
          span Plans
      li(ui-sref-active="active")
        a(href='#' ui-sref='main.pp_payment')
          i.fa.fa-dollar
          span Payments                       
    //                          
      li
        a(href='#')
          i.fa.fa-link                
          span Another Link          
      li.treeview
        a(href='#')
          i.fa.fa-link              
          span Multilevel                
          i.fa.fa-angle-left.pull-right            
        ul.treeview-menu
          li
            a(href='#') Link in level 2              
          li
            a(href='#') Link in level 2
