.content-wrapper(content-height)
  // Content Header (Page header)
  section.content-header
    h1
      | Logs
      // small Optional description        
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Level            
      li.active Here
  // Main content
  section.content
    .row
      .col-xs-3
        .box.box-primary
          .box-header.with-border
            h4.box-title Filter          
          .box-body
            .form-group
              label Service
              select.form-control(ng-model="log.service" ng-change="log.search()")
                option(value="all") All
                option(value="history") History
                option(value="weather") Weather
                
            .form-group
              label Plan
              select.form-control(ng-model="log.plan" ng-change="log.search()")
                option(value="all") All
                option(ng-repeat="plan in log.plans" value="{{ plan }}") {{ plan }}
                
            .form-group
              label Action
              select.form-control(ng-model="log.action" ng-change="log.search()")
                option(value="all") All
                option(value="subscribe") Subscribe
                option(value="cancel") Cancel
                
            .form-group.no-margin
              label From
              .input-group
                input.form-control(uib-datepicker-popup="yyyy-MM-dd" ng-model="log.dtFrom.date" is-open="log.dtFrom.opened" datepicker-options="log.dtFrom.options"  show-button-bar="false" ng-change="log.popupFromChange()")
                span.input-group-btn
                  button.btn.btn-default(ng-click="log.popupFromOpen()")
                    i.fa.fa-calendar
                  
            .form-group
              label To
              .input-group
                input.form-control(uib-datepicker-popup="yyyy-MM-dd" ng-model="log.dtTo.date"  is-open="log.dtTo.opened" datepicker-options="log.dtTo.options" show-button-bar="false" ng-change="log.popupToChange()")
                span.input-group-btn
                  button.btn.btn-default(ng-click="log.popupToOpen()")
                    i.fa.fa-calendar  
                            
      .col-xs-9
        .box.box-primary
          .box-header
            h3.box-title Logs
            
          .box-body.no-padding
            table.table
              thead
                tr
                  th User
                  th Service
                  th Plan                    
                  th Action
                  th Create at
              tbody                     
                tr(ng-repeat="log in log.logs | pagination: log.startIndex: log.lastIndex track by $index")
                  td 
                    a(ui-sref="main.client({ id: log.user_id })") {{ log.user_id }}
                  td {{ log.service }}
                  td {{ log.service_key }}                    
                  td {{ log.action }}
                  td {{ log.created_at }}
                              
          .box-footer.clearfix
            uib-pagination.no-margin.pull-right.pagination-sm(max-size="log.maxSize" total-items="log.totalItems" ng-model="log.currentPage" ng-change="log.pageChanged()" items-per-page="log.pageLimit" rotate="false")
          .overlay(ng-show="log.overlay")
            i.fa.fa-refresh.fa-spin
    
                 
  
