@import '../bower_components/bootstrap/less/bootstrap.less';
@import '../bower_components/font-awesome/less/font-awesome.less';

@icon-font-path: '../bower_components/bootstrap/fonts/';
@fa-font-path: '../bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.form-wrapper{
  background-color: #ecf0f5;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .form-content{
    margin-top: 8%;
  }
}
.cursor-pointer{
  cursor: pointer;
}
tr.cursor-pointer:hover{
  background-color: #f5f5f5 !important;
}

.box-body.no-padding-top-bottom{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.list-group.no-margin{
  margin-bottom: 0px !important;
  .list-group-item:last-child{
    border-bottom: 0px !important;
  }
}
.sidebar-toggle{
  cursor: pointer;
}
a[ng-click]{
    cursor: pointer;
}
.overlay-wrapper{
  position: relative;
}

// injector
@import 'admin/admin.less';
@import 'client/client.less';
@import 'main/main.less';
@import 'notification/notification.less';
@import 'plan/plan.less';
@import 'pp_payment/pp_payment.less';
@import '../components/aside/aside.less';
@import '../components/footer/footer.less';
@import '../components/modal/modal.less';
// endinjector
