.content-wrapper(content-height)
  // Content Header (Page header)
  section.content-header
    h1
      | Subscriptions
      // small Optional description        
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Level            
      li.active Here
  // Main content
  section.content
    .row
      .col-xs-3
        .box.box-primary
          .box-header.with-border
            h4.box-title Filter          
          .box-body
            .form-group
              label Service
              select.form-control(ng-model="sub.service" ng-change="sub.search()")
                option(value="all") All
                option(value="history") History
                option(value="weather") Weather
                
            .form-group
              label Plan
              select.form-control(ng-model="sub.plan" ng-change="sub.search()")
                option(value="all") All
                option(ng-repeat="plan in sub.plans" value="{{ plan }}") {{ plan }}
                
            .form-group
              label Status
              select.form-control(ng-model="sub.status" ng-change="sub.search()")
                option(value="all") All
                option(value="CREATED") CREATED
                option(value="ACTIVATED") ACTIVATED
                option(value="CANCELED") CANCELED
                option(value="EXECUTED") EXECUTED
                option(value="SUSPENDED") SUSPENDED
                
            .form-group
              label State
              select.form-control(ng-model="sub.state" ng-change="sub.search()")
                option(value="all") All
                option(value="true") Active
                option(value="false") Inactive
                              
      .col-xs-9
        .box.box-primary
          .box-header
            h3.box-title Subscriptions
            
          .box-body.no-padding
            table.table
              thead
                tr
                  th User
                  th Service
                  th Plan
                  th Status
                  th State 
                  th Created
                  th Canceled
              tbody     
                tr(ng-repeat="subscription in sub.subscriptions | pagination: sub.startIndex: sub.lastIndex track by $index")
                  td 
                    a(ui-sref="main.client({ id: subscription.user_id })") {{ subscription.user_id }}
                  td {{ subscription.service_key }}
                  td {{ subscription.plan_key }}
                  td {{ subscription.status }}
                  td {{ subscription.active }}
                  td {{ subscription.create_date }}
                  td {{ subscription.cancel_date }}
                              
          .box-footer.clearfix
            uib-pagination.no-margin.pull-right.pagination-sm(max-size="sub.maxSize" total-items="sub.totalItems" ng-model="sub.currentPage" ng-change="sub.pageChanged()" items-per-page="sub.pageLimit" rotate="false")
          .overlay(ng-show="sub.overlay")
            i.fa.fa-refresh.fa-spin
    
                 
  
