.content-wrapper(content-height)
  // Content Header (Page header)
  section.content-header
    h1
      | Plan      
      // small Optional description        
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Level            
      li.active Here
  // Main content
  section.content     
    .row
      .col-xs-7
        .box.box-solid.box-primary          
          .box-body
            .row                                      
              .col-xs-3
                .form-group.no-margin
                  label By
                  select.form-control(ng-model="pln.status" ng-change="pln.request()")
                    option(value="ACTIVE") Active
                    option(value="CREATED") Created
                    option(value="INACTIVE") Inactive
                                  
    .row                
      .col-xs-12
        .box.box-primary
          .box-header
            h3.box-title Plan              
            
          .box-body.no-padding
            table.table
              thead
                tr
                  th #
                  th Name     
                  th Status                                
                  th Description
                  th ID                  
                  th Type
                  th Created
                  th Updated
                  
              tbody                     
                tr.cursor-pointer(ng-repeat="plan in pln.plans track by $index" ng-click="pln.openPlanModal(plan.id)")
                  td {{$index + (pln.currentPage-1)*20 + 1}}
                  td 
                    b {{plan.name}}
                  td
                    span.label.label-success {{plan.state}}                                                   
                  td {{plan.description}}
                  td {{plan.id}}                  
                  td {{plan.type}}
                  td {{plan.create_time}}
                  td {{plan.update_time}}
                                                
          .box-footer.clearfix
            uib-pagination.no-margin.pull-right.pagination-sm(max-size="5" total-items="pln.totalItems" ng-model="pln.currentPage" ng-change="pln.pageChanged()" items-per-page="20" rotate="false")
          .overlay(ng-show="pln.overlay")
            i.fa.fa-refresh.fa-spin    
