header.main-header
  // Logo
  a.logo(href='index2.html')
    // mini logo for sidebar mini 50x50 pixels
    span.logo-mini      
      | OWM
    // logo for regular state and mobile devices
    span.logo-lg
      b OWM
      | admin
  // Header Navbar: style can be found in header.less
  nav.navbar.navbar-static-top(role='navigation')
    // Sidebar toggle button
    a.sidebar-toggle(ng-click="nav.toggleAside()")
      span.sr-only Toggle navigation
  //             
    .navbar-custom-menu
      ul.nav.navbar-nav        
        // Control Sidebar Toggle Button
        li
          a(href='#', data-toggle='control-sidebar')
            i.fa.fa-gears
