.content-wrapper(content-height)
  // Content Header (Page header)
  section.content-header
    h1
      | Users page
      // small Optional description        
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Level            
      li.active Here
  // Main content
  section.content
    .row
      .col-xs-7
        .box.box-solid.box-primary          
          .box-body
            .row
              .col-xs-5
                .form-group.no-margin
                  label Search
                  .input-group
                    input.form-control(ng-model="main.searchVal")
                    .input-group-btn
                      button.btn.btn-primary.btn-flat(ng-click="main.search()")
                        i.fa.fa-search                         
              .col-xs-3
                .form-group.no-margin
                  label By
                  select.form-control(ng-model="main.searchBy", ng-change="main.search()")
                    option(value="name") name
                    option(value="email") email
                    option(value="appid") appid
              .col-xs-4
                .form-group.no-margin
                  label User type
                  select.form-control(ng-model="main.userType", ng-change="main.search()")
                    option(value="all") All
                    option(value="billing") Paypal Billing
                    option(value="subscription") Direct Subscription      
    .row                 
      .col-xs-12
        .box.box-primary
          .box-header
            h3.box-title Users
            
          .box-body.no-padding
            table.table
              tr
                th #
                th Name
                th Email
                th Appid
                th Type
                th
                th
              tr.cursor-pointer(ng-repeat="user in main.users | pagination: main.startIndex: main.lastIndex track by $index", ui-sref="main.client({ id: user._id })")
                td {{(main.currentPage - 1) * main.pageLimit + $index + 1 }}.
                td 
                  b {{ user.name }}
                td {{ user.email }}
                td {{ user.appid }}
                td
                  span.label.label-primary(ng-show="user.paypal_user") Billing
                td
                td   
                
          .box-footer.clearfix
            uib-pagination.no-margin.pull-right.pagination-sm(max-size="main.maxSize" total-items="main.totalItems" ng-model="main.currentPage" ng-change="main.pageChanged()" items-per-page="main.pageLimit" rotate="false")
          .overlay(ng-show="main.overlay")
            i.fa.fa-refresh.fa-spin
                   
    
