.content-wrapper(content-height)
  // Content Header (Page header)
  section.content-header
    h1
      | Notifications
      // small Optional description        
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Level            
      li.active Here
  // Main content
  section.content
    .row
      .col-xs-3
        .box.box-primary
          .box-header.with-border
            h4.box-title Filter          
          .box-body
            .form-group
              label Transaction type
              select.form-control(ng-model="ntf.transactionType", ng-change="ntf.search()")
                option(value="all") All
                option(value="recurring_payment_profile_created") Profile created
                option(value="recurring_payment") Regular payment                
                option(value="recurring_payment_profile_cancel") Profile cancel
                option(value="recurring_payment_skipped") Payment skipped
                option(value="recurring_payment_failed") Payment failed              
                
            .form-group.no-margin
              label From
              .input-group
                input.form-control(uib-datepicker-popup="yyyy-MM-dd" ng-model="ntf.dtFrom.date" is-open="ntf.dtFrom.opened" datepicker-options="ntf.dtFrom.options"  show-button-bar="false" ng-change="ntf.popupFromChange()")
                span.input-group-btn
                  button.btn.btn-default(ng-click="ntf.popupFromOpen()")
                    i.fa.fa-calendar
                  
            .form-group.no-margin
              label To
              .input-group
                input.form-control(uib-datepicker-popup="yyyy-MM-dd" ng-model="ntf.dtTo.date"  is-open="ntf.dtTo.opened" datepicker-options="ntf.dtTo.options" show-button-bar="false" ng-change="ntf.popupToChange()")
                span.input-group-btn
                  button.btn.btn-default(ng-click="ntf.popupToOpen()")
                    i.fa.fa-calendar  
                    
          .box-footer
            button.btn.btn-primary(ng-click="ntf.reset()") Reset
                                    
      
      .col-xs-9
        .box.box-primary
          .box-header
            h3.box-title Notifications
            
          .box-body.no-padding
            table.table
              tr
                th #
                th Transaction
                th Time
                                
              tr.cursor-pointer(ng-repeat="notification in ntf.notifications | pagination: ntf.startIndex: ntf.lastIndex track by $index", ng-click="ntf.ipnOpen(notification.ipn_msg)")
                td {{ (ntf.currentPage - 1) * ntf.pageLimit + $index + 1 }}
                td 
                  b {{ notification.txn_type }} 
                td {{ notification.created_at }}
                              
          .box-footer.clearfix
            uib-pagination.no-margin.pull-right.pagination-sm(max-size="ntf.maxSize" total-items="ntf.totalItems" ng-model="ntf.currentPage" ng-change="ntf.pageChanged()" items-per-page="ntf.pageLimit" rotate="false")
          .overlay(ng-show="ntf.overlay")
            i.fa.fa-refresh.fa-spin
    
                 
  
