.table-responsive.overlay-wrapper(ng-controller="ClientPaymentsCtrl as pmt")
  table.table
    thead
      tr
        th Service name
        th Plan                    
        th Date
        th Amount
    tbody                     
      tr(ng-repeat="payment in pmt.payments | pagination: pmt.startIndex: pmt.lastIndex track by $index")
        td {{ payment.service_name }}
        td {{ payment.plan_desc }}                    
        td {{ payment.date }}
        td {{ payment.amount }}
  uib-pagination.no-margin.pagination-sm(max-size="pmt.maxSize" total-items="pmt.totalItems" ng-model="pmt.currentPage" ng-change="pmt.pageChanged()" items-per-page="pmt.pageLimit" rotate="false")
  //.overlay
