.modal-header
  button.close(ng-click="pm.close()")
    span(aria-hidden="true") &times;
  h3.modal-title Plan 
     
.modal-body
  table.table.no-margin    
    pre(pretty-json="pm.plan")
            
.modal-footer    
    button.btn.btn-primary(ng-click="pm.close()") Close
