.modal-header
  button.close(ng-click="mdl.close()")
    span(aria-hidden="true") &times;
  h3.modal-title Plan 
     
.modal-body
  table.table.no-margin    
    pre(pretty-json="mdl.json")
            
.modal-footer    
    button.btn.btn-primary(ng-click="mdl.close()") Close
