.content-wrapper(content-height)
  // Content Header (Page header)
  section.content-header
    h1
      | User page
      small {{ client.user.name }}: {{ client.user.email }}      
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Level            
      li.active Here
  // Main content
  section.content
    .row
      .col-xs-4
        .info-box
          span.info-box-icon.bg-aqua
            i.fa.fa-user
          .info-box-content
            span.info-box-number {{ client.user.name }}            
            p.no-margin {{ client.user.email }}          
            span.label.label-success(ng-if="client.user.active === 'true'") Active 
                   
        .box.box-primary    
          .box-header
            i.fa.fa-gear
            h3.box-title Services
          .box-body.no-padding-top-bottom                
            ul.list-group.list-group-unbordered.no-margin   
              li.list-group-item
                b Weather
                span.pull-right {{ client.user.services.weather }}
              li.list-group-item
                b History
                span.pull-right {{ client.user.services.history }} 
                
        .box.box-primary    
          .box-header
            i.fa.fa-info-circle
            h3.box-title Info
          .box-body.no-padding-top-bottom                 
            ul.list-group.list-group-unbordered.no-margin   
              li.list-group-item
                b Sign in count
                span.pull-right.label.label-primary {{ client.user.sign_in_count }}
              li.list-group-item
                b Role id
                span.pull-right.label.label-primary {{ client.user.role_id }}
              li.list-group-item
                b Billing
                span.pull-right.label.label-primary {{ client.user.paypal_user }}         
                 
        .box.box-primary    
          .box-header
            i.fa.fa-clock-o
            h3.box-title Activity 
          .box-body.no-padding-top-bottom        
            ul.list-group.list-group-unbordered.no-margin    
              li.list-group-item
                b Last sign in
                span.pull-right {{ client.user.last_sign_in_at }}
              li.list-group-item
                b Current sign in
                span.pull-right {{ client.user.current_sign_in_at }}   
              li.list-group-item
                b Updated at
                span.pull-right {{ client.user.updated_at }}
              li.list-group-item
                b Created at
                span.pull-right {{ client.user.created_at }}  
              li.list-group-item
                b Last sign in ip
                span.pull-right {{ client.user.last_sign_in_at }}
              li.list-group-item
                b Current sign in ip
                span.pull-right.label.label-primary {{ client.user.current_sign_in_ip }}                              
            
      .col-xs-8         
        uib-tabset.nav-tabs-custom        
          uib-tab(heading="Subscriptions", active="true")            
            include ./subscriptions/subscriptions.jade                     
          uib-tab(heading="Payments")            
            include ./payments/payments.jade
          uib-tab(heading="Logs")     
            include ./logs/logs.jade        
                                     
                    
                                 
