.content-wrapper(content-height)
  // Content Header (Page header)
  section.content-header
    h1
      | Payments
      // small Optional description        
    ol.breadcrumb
      li
        a(href='#')
          i.fa.fa-dashboard
          |  Level            
      li.active Here
  // Main content
  section.content
    .row
      .col-xs-3
        .box.box-primary
          .box-header.with-border
            h4.box-title Filter          
          .box-body            
            .form-group
              label Count
              select.form-control(ng-model="ppp.count" ng-change="ppp.reset()")
                option(value="5") 5
                option(value="10") 10
                option(value="15") 15
                option(value="20") 20
                
            .form-group.no-margin
              label From
              .input-group
                input.form-control(uib-datepicker-popup="yyyy-MM-dd" ng-model="ppp.dtFrom.date" is-open="ppp.dtFrom.opened" datepicker-options="ppp.dtFrom.options"  show-button-bar="false" ng-change="ppp.popupFromChange()")
                span.input-group-btn
                  button.btn.btn-default(ng-click="ppp.popupFromOpen()")
                    i.fa.fa-calendar
                  
            .form-group
              label To
              .input-group
                input.form-control(uib-datepicker-popup="yyyy-MM-dd" ng-model="ppp.dtTo.date"  is-open="ppp.dtTo.opened" datepicker-options="ppp.dtTo.options" show-button-bar="false" ng-change="ppp.popupToChange()")
                span.input-group-btn
                  button.btn.btn-default(ng-click="ppp.popupToOpen()")
                    i.fa.fa-calendar  
                  
            .form-group
              label Sort by
              select.form-control(ng-model="ppp.sort_by" ng-change="ppp.reset()")
                option(value="create_time") Create time
                option(value="update_time") Update time
                              
            .form-group
              label Sort order
              select.form-control(ng-model="ppp.sort_order" ng-change="ppp.reset()")
                option(value="asc") Asc
                option(value="desc") Desc                
                     
          .box-footer
            button.btn.btn-primary(ng-click="ppp.query()") Query                
                
      .col-xs-9
        .box.box-primary
          .box-header
            h3.box-title Payments
            
          .box-body.no-padding
            table.table.table-hover
              thead
                tr
                  th #
                  th ID
                  th Date
                  th Intent
                  th Email
                  th Firstname
                  th Lastname
                  th Price
              tbody     
                tr(ng-repeat="payments in ppp.payments track by $index")
                  td {{ ppp.startIndex() + $index }}
                  td {{ payments.id }}
                  td {{ payments.create_time }}
                  td {{ payments.intent }}
                  td {{ payments.payer.payer_info.email }}
                  td {{ payments.payer.payer_info.first_name }}
                  td {{ payments.payer.payer_info.last_name }}
                  td {{ payments.transactions[0].amount.total }} {{ payments.transactions[0].amount.currency }}
                              
          .box-footer.clearfix
            .btn-group.btn-group-sm
              .btn.btn-default(ng-click="ppp.prev()" ng-disabled="!ppp.prev_ids.length") Prev
              .btn.btn-default(ng-click="ppp.next()" ng-disabled="!ppp.data.next_id") Next
            
          .overlay(ng-show="ppp.overlay")
            i.fa.fa-refresh.fa-spin
    
                 
  
