.table-responsive(ng-controller="ClientLogsCtrl as log")
  table.table
    thead
      tr
        th Service
        th Plan                    
        th Action
        th Create at
    tbody                     
      tr(ng-repeat="log in log.logs | pagination: log.startIndex: log.lastIndex track by $index")
        td {{ log.service }}
        td {{ log.service_key }}                    
        td {{ log.action }}
        td {{ log.created_at }}
  uib-pagination.no-margin.pagination-sm(max-size="log.maxSize" total-items="log.totalItems" ng-model="log.currentPage" ng-change="log.pageChanged()" items-per-page="log.pageLimit" rotate="false")
          
